body{
    
      background: linear-gradient(to right, blue, lightblue );
     
     
}


#number{
    text-align: center;
    font-size: 5em;
}
.btn {
    text-align: center;
    background-color: hsl(210, 39%, 47%);
    cursor: pointer;
    font-size: 2rem;
    border-radius: 15px;
    padding: 20px;
}
.btnbox {
    text-align: center;
}
.btn:hover{

  background-color: hsl(240, 65%, 56%);
  transition: 0.5s;
  color: hsl(180, 4%, 49%);
}
#result {
    color: aliceblue;
    font-size: 3rem;
}