body{
    
      background: linear-gradient(to right, blue, lightblue );
     
     
}


#number{
    text-align: center;
    font-size: 5em;
}
.btn {
    text-align: center;
    background-color: hsl(210, 39%, 47%);
    cursor: pointer;
}
.btnbox {
    text-align: center;
}
.btn:hover{

  background-color: hsl(240, 65%, 56%);
  transition: 0.5s;
  color: hsl(180, 4%, 49%);
}