#number{
    text-align: center;
    font-size: 5em;
}
.btn {
    text-align: center;
    background-color: hsl(240, 38%, 55%);
    cursor: pointer;
}
.btnbox {
    text-align: center;
}
.btn:hover{

  background-color: hsl(240, 53%, 46%);
  transition: 0.5s;
  color: hsl(180, 4%, 49%);
}